.vs/
Debug/
tables/
x64/
DbOperations/Debug/
DbOperations/x64/
DbOperations/r0
DbOperations/r1
DbOperations/r2
DbOperations/r3
DbOperations/r4
DbOperations/r5
DbOperations/r6
DbOperations/r7
DbOperations/r8
DbOperations/r9
DbOperations/r10
DbOperations/r11
DbOperations/r12
DbOperations/r13
/DbOperations/queries.bak
